/* css reset */
* {
  margin: 0px;
  padding: 0px;
}
/* styles the entire body */
body {
  color: #8b9dc3;
  width: 100%;
}

/* styles the header */
.header {
  background: #3b5998;
  height: 14%;
  color: white;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

/* styles the navigation */
.nav-bar {
  display: flex;
}

/* styles the logo */
.logo {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  letter-spacing: -1;
  font-size: 45px;
  padding-top: 20px;
  padding-left: 150px;
}

/* styles the login input */
ul.login-input {
  padding-left: 400px;
  padding-top: 20px;
  display: flex;
}

/* styles the login form list */
.list {
  display: flex;
  flex-direction: column;
  padding-right: 15px;
}

/* styles the label */
.label {
  padding-bottom: 5px;
}

/* styles the submit button */
.submit-button {
  padding-top: 22px;
  width: 52px;
  color: white;
  border: 0px;
  text-align: center;
}

.sbmt {
  background: #4267b2;
  color: white;
  border: 0px;
  font-weight: bold;
  padding: 2px 6px;
}

.forgot-acct {
  color: #9cb4d8;
  text-decoration: none;
}
